*,
*::after,
*::before {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 200px;
  background-color: #1f2937;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

.links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 16px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

.hero {
  display: flex;
  padding: 80px 200px;
  background-color: #1f2937;
}

.hero-title {
  font-weight: bold;
  font-size: 48px;
  margin: 0;
  color: #f9faf8;
}

.sign-up {
  padding: 6px 18px;
  margin-top: 16px;
  border-radius: 4px;
  border: 0;
  background-color: #3882f6;
  color: #f9faf8;
}

.hero-image {
  width: 600px;
  height: 400px;
  border-radius: 12px;
}

.hero-text {
  margin-right: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #e5e7eb;
}